:root {
  --welcomeBG: url("../../images/quiz/quiz.jpg");
  --summarySuccessBG: url("../../images/quiz/summary-success.jpg");
  --summaryFailBG: url("../../images/quiz/summary-fail.jpg");
  --formBG: url("../../images/quiz/form-bg.jpg");
}

.header {
  width: 100%;
  position: relative;
  display: flex;
  height: auto;

  &.welcome {
    height: 200px;
    background-image: var(--welcomeBG);
    background-size: cover;
    background-repeat: no-repeat;
    animation: animatedBGFadeInDown 0.3s linear both;
    animation-delay: 0.1s;
  }

  &.form,
  &.popup {
    background-color: var(--primary100);
  }

  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      text-align: center;
      .fSecondaryRegular();
      font-size: 25px;
      color: var(--neutral900);
    }
  }

  .topElement {
    .animateElement();

    &.fadeInDown {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}
