.answerIcons {
  .text {
    position: relative;
    padding: 0 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 14px;

    .icon {
      position: absolute;
      left: 0;
    }
  }
}
.form-answers {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;

  .container-message {
    position: absolute;
    top: 18px;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
  }

  .options {
    width: 100%;
  }

  .option {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    margin-bottom: 20px;
    input[type="radio"] {
      opacity: 0;
    }

    input[type="radio"],
    input[type="checkbox"] {
      -webkit-appearance: none;
      position: absolute;
    }
  }

  label {
    border: 1px solid var(--borderLightGray);
    padding: 10px 30px 10px 30px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: border 0.3s;
    .answerIcons();
  }

  .selection-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--borderLightGray);
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    .icon.check {
      margin-left: -2px;

      &:before {
        border-bottom: solid 1px var(--primary);
        border-left: solid 1px var(--primary);
      }
    }
  }

  /*
  * Reset radio / checkbox styles
  */
  input[type="radio"]:disabled,
  input[type="checkbox"]:disabled {
    + label {
      cursor: auto;
      .selection-icon {
        display: none;
      }
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    &:not(:disabled) {
      + label {
        .hoverFloating();
      }
    }

    &:checked + label {
      border: 1px solid var(--primary);
    }

    &:checked.correct,
    &.unselected-correct {
      + label {
        border: 1px solid var(--success);

        .text .icon {
          .successIcon();
        }
      }
    }

    &:checked.wrong {
      + label {
        border: 1px solid var(--error);

        .text .icon {
          .errorIcon();
          width: 14px;
          height: 14px;
          top: -1px;

          &:before,
          &:after {
            left: 0;
            top: 7px;
          }
        }
      }
    }
  }
}
