.form-answers {
  margin-bottom: 50px;

  .option {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    margin-bottom: 20px;

    input[type="radio"],
    input[type="checkbox"] {
      opacity: 0;
      width: 0;
      height: 0;
      position: absolute;
    }
  }

  label {
    border: 1px solid var(--borderLightGray);
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;

    .hoverFloating();
  }

  input[type="radio"]:disabled,
  input[type="checkbox"]:disabled {
    + label {
      cursor: auto;
    }
  }

  input[type="radio"]:not(:checked),
  input[type="checkbox"]:not(:checked) {
    &.unselected-correct {
      + label {
        border: 1px solid var(--success);
      }
    }
  }
  input[type="radio"]:checked,
  input[type="checkbox"]:checked {
    + label {
      border: 1px solid var(--primary);
    }

    &.correct {
      + label {
        border: 1px solid var(--success);
      }
    }

    &.wrong {
      + label {
        border: 1px solid var(--error);
      }
    }
  }
}
