@import "../form-screen/form-options.less";
@import "../../animations.less";

.fadeInDown () {
  &.fadeInDown {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp () {
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);

  &.fadeInUp {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.form {
  .screen-scroll-wrapper {
    height: 100%;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  &.header {
    .header-inner {
      width: 100%;
      padding: 10px 25px;
      margin: 0 auto;

      .pager {
        .fLight();
        margin: 5px auto;
        color: var(--neutral700);
        font-size: 12px;
      }

      .title {
        width: 100%;
        font-size: 15px;
        text-align: left;
      }
    }
  }

  .screen-content {
    padding-top: 0;
    display: flex;
    max-height: none;
    justify-content: flex-start;

    .form-top-section:not(:empty) {
      text-align: left;
      display: flex;
      flex-direction: column;
      max-width: none;
      padding: 10px 20px;
      background-color: var(--primary100Alpha9);
      .animateElement();
      .fadeInDown ();

      .description:not(:empty) {
        .fLight();
        font-size: 12px;
        color: var(--neutral900);

        + .container-message {
          margin-top: 10px;
        }
      }

      // TODO: if should change container message font-weight remove the following comment
      // .container-message {
      //   .text {
      //     .fLight();
      //   }
      // }
    }

    .form-options {
      max-width: none;
      justify-content: flex-start;
      .animateElement();
      .fadeInUp ();
    }

    .form-footer {
      .animateElement();
      .fadeInUp ();
      #button-form-action {
        opacity: 0;
        animation: fadeIn 0.3s linear both;
      }
    }
  }
}
