@import "../../variables.less";

.form-options {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  > * {
    max-width: var(--screenContentMaxWidth);
    margin: 0 auto;
  }

  .container-message {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }

  .options {
    width: 100%;
  }

  .option {
    position: relative;
    width: 100%;
    min-height: 25px;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    label {
      padding: 0 30px;
      width: 100%;
      border-radius: 5px;
      cursor: pointer;
      text-align: left;
      transition: border 0.3s, background-color 0.3s;
      .optionIcons();
    }

    input[type="radio"] {
      &:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        background-color: var(--white);
        border: 1px solid var(--borderLightGray);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        transition: border 0.3s;
      }

      &:checked {
        &::before {
          background-color: var(--white);
          border: 6px solid var(--primary);
        }
      }
    }

    input[type="checkbox"] {
      &:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        background-color: var(--white);
        border: 1px solid var(--borderLightGray);
        border-radius: 5px;
        width: 100%;
        height: 100%;
        transition: border 0.3s;
      }

      &:checked {
        &::before {
          border: 11px solid var(--primary);
        }
        + label .selection-icon {
          position: absolute;
          top: 8px;
          left: 5px;

          .icon.check {
            svg path {
              fill: var(--white);
            }
          }
        }
      }
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    -webkit-appearance: none;
    margin: 0;
    width: 22px;
    height: 22px;
    top: 2px;

    &:disabled {
      + label {
        cursor: auto;

        .selection-icon {
          display: none;
        }
      }
    }

    &:checked {
      &.success,
      &.error {
        + label {
          .icon svg path {
            fill: var(--white);
          }
        }
      }

      &.success {
        &::before {
          background-color: var(--success);
          border: 1px solid var(--success);
        }
      }

      &.error {
        &::before {
          background-color: var(--error);
          border: 1px solid var(--error);
        }
      }
    }

    // hiding icon for unselected option
    &.unselected-error {
      + label {
        .text .icon {
          display: none;
        }
      }
    }

    //styles for unselected correct option
    &.unselected-success {
      &:before {
        border: 1px solid var(--success);
      }
    }
  }
}

.optionIcons() {
  .text {
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 18px;

    .icon {
      position: absolute;
      left: 5px;
      top: 9px;

      &.error {
        left: 6px;
        top: 8px;
      }
    }
  }
}
