.icon {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  pointer-events: none;

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    fill: currentColor;

    > * {
      transform: fill 0.3s, stroke 0.3s;
    }
  }

  &.tested {
    .doubleCheckMarkIcon();
  }

  &.back-arrow {
    .backArrowIcon();
  }

  &.arrow-right {
    .triangleRight();
  }

  &.arrow-left {
    .triangleLeft();
  }

  &.check {
    .checkIcon( var(--primary));
  }

  &.success {
    .successIcon();
  }

  &.error {
    .errorIcon();
  }

  &.question {
    .questionIcon();
  }

  &.article {
    .articleIcon();
  }

  &.smart-walkthru {
    .walkthruIcon();
  }

  &.video {
    .videoIcon();
  }

  &.sidebar-handler {
    .doubleArrowsLeftIcon(var(--iconBGLight));
  }
}

.triangleDown(@color: currentColor) {
  width: 8px;
  height: 5px;
}

.triangleRight(@color: currentColor) {
  .triangleDown(@color);
  transform: rotate(-90deg);
}

.triangleLeft(@color: currentColor) {
  .triangleDown(@color);
  transform: rotate(90deg);
}

.doubleArrowsLeftIcon(@color: currentColor) {
  width: 8px;
  height: 6px;
}

.doubleCheckMarkIcon(@color: var(--primary)) {
  width: 15px;
  height: 8px;
}

.fillTriangleDown(@color: currentColor, @size: 4.5px) {
  width: 9px;
  height: 6px;
  -webkit-mask-image: none;
  mask-image: none;
  background-color: transparent;
  transform-origin: center;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: @size solid transparent;
    border-right: @size solid transparent;
    border-top: @size solid @color;
    position: relative;
  }
}

.fillTriangleRight(@color: currentColor, @size: 4.5px) {
  .fillTriangleDown(@color, @size);
}

.backArrowIcon() {
  height: 18px;
  width: 20px;
}

.checkIcon (@color) {
  height: 8px;
  width: 11px;

  svg path {
    fill: @color;
  }
}

.articleIcon (@color: var(--iconBGLight)) {
  svg path {
    stroke: @color;
  }
}

.walkthruIcon (@color: var(--iconBGLight)) {
  svg path {
    stroke: @color;
  }
}

.videoIcon (@color: var(--iconBGLight)) {
  svg path {
    stroke: @color;
  }
}

.closeIcon (@color: currentColor) {
  width: 9px;
  height: 9px;

  svg path {
    fill: @color;
  }
}

.successIcon() {
  .checkIcon( var(--success));
}

.errorIcon() {
  .closeIcon(var(--error));
}

.questionIcon(@bg: var(--primary), @color: var(--white)) {
  width: 15px;
  height: 15px;

  &:before {
    content: "?";
    width: 100%;
    height: 100%;
    color: @color;
    border-radius: 50%;
    background: @bg;
    display: block;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    font-weight: 500;
  }
}

.loaderIcon(@size: 15px, @opacity: 1,  @borderWidth: 2px, @top: 0, @animationTime: 0.5s) {
  &:before {
    content: "";
    border: @borderWidth solid var(--bgLight);
    border-top: @borderWidth solid var(--primary);
    border-radius: 50%;
    width: @size;
    height: @size;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: @top;
    opacity: 0;
    .loaderSpin(@animationTime);
  }
}
