@import "../components/form-properties/form-properties.less";

.summary {
  .screen-title {
    .fSecondaryLightItalic();
  }

  .screen-content {
    display: flex;
    flex-direction: column;
    margin-top: 80px;

    .temp {
      &-footer {
        margin-top: 20px;
        order: 4;
      }
    }
  }
}
