@import "../components/form-properties/form-properties.less";

.summary {
  .screen-title {
    .fSecondaryLightItalic();
  }

  .header {
    height: 220px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.fail {
    .header {
      background-image: var(--summaryFailBG);
    }
  }

  &.success {
    .header {
      background-image: var(--summarySuccessBG);
    }
  }

  .screen-content {
    display: flex;
    flex-direction: column;
    margin-top: 80px;

    .temp {
      &-footer {
        margin-top: 20px;
        order: 4;
      }
    }
  }
}
