.welcome {
  .screen-content {
    display: flex;
    flex-direction: column;

    .temp {
      &-header {
        order: 1;
      }

      &-content {
        order: 2;
      }

      &-footer {
        order: 4;
      }
    }

    .form-properties {
      order: 3;
      max-width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px auto;

      .question-counter,
      .passmark-info {
        display: flex;
        flex-grow: 1;
        justify-content: center;
      }
    }
  }
}
